#map{position:absolute;top:0;left:0;bottom:0;right:0;}
#popup{margin-left:25px;margin-bottom:30px;}
#clients{display:block !important;font-size:9pt !important;top:10px !important;left:auto !important;right:10px !important;max-width:none !important;}
#clients th, #clients td{text-align:left;padding:2px 5px;}